.icon{
	margin-top: .9rem;
	width: 2.25rem;
	height: 2.25rem;
	background: #191D22;
	display: inline-block;
	border-radius: 100%;

	@mixin atSmall{
	width: 3.25rem;
	height: 3.25rem;
	}

	&--apple{
	margin-left: 50%;
	transform: translateX(-50%);
	margin-top: 23%;
	width: 40%;

	@mixin atSmall{
		width: auto;
		height: auto;
	}

	}

	&--android{
	margin-left: 50%;
	transform: translateX(-50%);
	margin-top: 18%;
	width: 55%;

	@mixin atSmall{
		width: auto;
		height: auto;
		margin-top: 25%;
	}
}
}

#icon1{
	margin-left: 50%;
	transform: translateX(-50%);
	margin-top: 27.5%;
}
#icon2{
	margin-left: 50%;
	transform: translateX(-50%);
	margin-top: 27.5%;
}
#icon3{
	margin-left: 50%;
	transform: translateX(-50%);
	margin-top: 27.5%;
}
#icon4{
	margin-left: 50%;
	transform: translateX(-50%);
	margin-top: 30%;
}