.site-header{
	
	display: none;
	height: 27rem;
	background: rgba(41,61,83);
	width: 100%;
	text-align: center;

	@mixin atMedium{
	display: block;
	height: 6rem;
	position: absolute;
	z-index: 2;
	background: rgba(24,43,61, .3);
	border-bottom: #1B2939 solid 1px;
	}

	&--is-visible{
		display: block;
		
	}


	img{
		position: absolute;
		display: inline-block;
		margin-left: 50%;
		transform: translateX(-50%);
		margin-top: 1rem;

		
	@mixin atMedium{
		margin-left:auto;
		transform: none;
		display: none;
	}

	@mixin atLarge{
		display: inline-block;
		position: relative;
		float: left;
		margin: 1.2rem 0 0 3rem;
	}

	}

}